# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj

# mstest test results
TestResults

# mono related files 
*.userprefs
*.pidb

# Resharper related files
_Resharper.*

# visual studio related files
*.suo